
body {
    margin: 0;
    min-width:960px;
    font-family: yandex Sans Text Web,Arial, sans-serif;
    background: #ee0996; /*  тест границ */
    font-weight: 400;
   /* overflow: hidden;   скоре лишнее */
    background: #e6e7e6;  
}

section figure figcaption footer {  /* не знаю зачем это */
    display: block;  
}

/* ____________  header  _____________ */
header {
    
    background-color: white;
    z-index: 777;
    margin: auto;
    height: 59px;
    box-sizing: border-box;
   
}



/* ____________  1 блок  _____________ */
.intro {
    /* display: block; */
    margin-bottom: 40px;
    padding: 40px 30px 0;
    min-height: 600px;
    position: relative;
    z-index: 0;
    /* height: calc(100vh - 60px); */
    box-sizing: border-box; 
}

.intro_content {
    
    max-width: 980px;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    text-align: left;
}

.intro_header {
    
    max-width: 270px;
    font-size: 84px;
    font-weight: 500;
    margin: 0 0 22px -4px;
    z-index: 2;


}

.intro_description {
    font-size: 16px;
    line-height: 25px;
    max-width: 505px;
    margin: 0 0 33px;
    padding: 0;
    color: #1a1a1a;
    text-align: left;
}

.intro_video-container {
position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.intro_video-wraper {
    flex: 0 0 auto;
    position: relative;
    z-index: -1;
}

.intro_video { 
    position: relative;
    width: 980px;
    height: 840px;
    display: block;
    background: 0 0 transparent no-repeat;
    background-size: 100% auto;
 
}
video {
    vertical-align: baseline;
}
/*  пежня
 .Intro__video-wrapper:after {
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    content: "";
    box-shadow: inset 0 0 40px 23px #e9e9e9, inset 0 0 0 4px #e9e9e9, 
    inset 0 0 15px 5px #e9e9e9, 0 0 2px 1px #e9e9e9;
} */

/* ____________  2 блок  _____________ */

.feathurlist {
    background-color: #dedede;
    padding: 70px 0;
    z-index: 2;
    position: relative;
}

.feathurlist_H {
    text-align: center;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    margin: 0 0 25px;

}

.feathurlist_items {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.feathurlistitem {
    padding: 0;
    margin: 0;
}
.featurelistItem__img {
    max-width: 327px;
    width: 100%;
    vertical-align: top;
}
.featurelistItem__text {
    width: 230px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 25px;
    color: #1a1a1a;
    text-align: center;
}

/* ____________  подвал  _____________ */

.foot {
    font-size: 13px;
    line-height: 22px;
    color: #999;
    background-color: #f3f1ed;
}

.foot_wrap {
    padding: 30px 30px 0;
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}

.foot_row {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.foot_footer {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 13px 0 14px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.foot_footer-cool {
    flex: 1 1 auto;
    
}
.link {
    cursor: pointer;
    transition: color .15s ease-out;
    text-decoration: none;
    outline: 0;
    touch-action: manipulation;
    color: #999;
}

/* ------social ----- */
.social {
   /* пустой класс у Яндекса */
}

.social_title {
    font-family: /*Yandex Sans Text Web, */ Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    margin: 0 0 15px;
}

.social_link {
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    margin-right: 10px;
}
.social_icons{
    white-space: nowrap;
}

.social_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: .7;
    transition: opacity .3s ease-out
}

.Social__icon_type_fb {
    background-image: url(image/fb.svg);
}
.Social__icon_type_in {
    background-image: url(image/in.svg);
}
.Social__icon_type_vk {
    background-image: url(image/vk.svg);
}